body {
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Lucida Sans Unicode', sans-serif;*/
    font-size: 16px;
}

.headline {
    font-size: 1.3em;
}

.perex {
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 1em 0;
}

p {
    line-height: 1.5;
}

ul li {
    padding: 0;
    margin: 0;
}

a, a:hover, a:focus, a:active, a.active {
	outline: 0;
}

a {
    color: #08c;
}

a:hover, a:focus, a:active, a.active {
    color: #0af;
    text-decoration: none;
}

h1 {
    margin-top: 0;
    margin-bottom: .7em;
}

h1 img {
    width: 100%;
    max-width: 616px;
}

h2 {
    margin-bottom: .8em;
    font-size: 2em;
    color: #8CD02C;
}

.section {
    padding: 2em 0;
}

.section:nth-child(even) {
    background: #f5f5f5;
}

.section:nth-child(odd), .section.white {
    background: #ffffff;
}

footer {
    color: beige;
    padding: 1em 0;
    background: #18171b;
    font-size: .8em;
}

::-moz-selection {
    text-shadow: none;
    background: #8CD02C;
}

::selection {
    text-shadow: none;
    background: #8CD02C;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

.text-center .img-responsive {
    margin: 0 auto;
}

footer {
    text-align: center;
}

footer div {
    margin-bottom: 15px;
}

@media (max-width: 992px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.4em;
        line-height: 1.5em;
    }
}
