---
layout: post
title: "Díl 3. - Kam kráčí Péhápkaři.cz online a jak se můžeš přidat"
perex: ""
podcast:
    title: "#3 - Kam kráčí Péhápkaři.cz online a jak se můžeš přidat"
    publish_date: "Sat, 26 Nov 2016"
    mp3_url: "http://cdn.nejenophp.cz/nejen-o-php-3.mp3"
    mp3_duration: "17:13"
---

<meta http-equiv="refresh" content="0; url=https://pehapkari.cz/blog/2016/11/26/podcast-nejenophp-3-kam-kraci-pehapkari-a-jak-se-muzes-pridat/" />